<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<context:component-scan base-package="proj.kw.aptekaBackend"/>

	<!-- Nalezy dodac ta linijka aby zawsze byl zapewniony dostep do pliku z folderu resources np pliki. - js   .css     -->
	<http pattern="/resources/**" security="none"/>


	<http>
		<csrf disabled="true"/>
		<!-- only user access (who is registered) -->
		<intercept-url pattern="/view/**" access="hasAuthority('USER')" />
		<!-- do reszty zasobow wszyscy maja dostep) -->
		<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login" />
		<logout />
	</http>
	
	
	<!-- dataSource - to bean zdefiniowany w HibernateConfig.java -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email, password, enabled from user where email = ?"
 				authorities-by-username-query="select email, role from user where email = ?"	
 			/>
 		</authentication-provider>
	</authentication-manager>


</beans:beans>